Django>=3.0,<4.0
gunicorn>=20.0.4
django-multiselectfield>=0.1.12
django-address>=0.2.5
psycopg2-binary>=2.8
boto3>=1.16
django-storages>=1.10

# For getting/setting env variables
python-decouple>=3.3

# Image processing
pillow>=8.0

# Mailer
sendgrid>=6.4
django-sendgrid-v5>=0.9

# Basic CRUD through API
djangorestframework>=3.12

# For automated testing
coverage>=5.3

# For Zoo 'country' field
django-countries>=7.0

# IPinfo API
ipinfo>=4.1.0

# For gathering location info 
pgeocode>=0.3.0