
<li><a href="{% url 'animals:detail' animal.id %}">{{ animal.name }}</a></li>

<h1>{{ animal.name }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'animals:donate' animal.id %}" method="post">
{% csrf_token %}
{% for wish in animal.wish_set.all %}
    <input type="radio" name="wish_id" id="wish{{ forloop.counter }}" value="{{ wish.id }}">
    <label for="wish{{ forloop.counter }}">{{ wish.toy.name }}</label><br>
{% endfor %}
<input type="submit" value="Donate">
</form> 