{% comment %} {% extends "base.html" %} {% endcomment %}

{% block content %}
    <h2>Wildwish.org</h2>
    <p>There's no CSS here</p>
    <p>This page exists as a placeholder for template tags and contexts while in development.</p>
    <ul>
        {% for w in active_wish_list %}
            <li><a href='/'>{{ w.animal.name }}</a></li>
            <li><img src={{ w.animal.recent_img.upload.url }}></li>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            <form action="{% url 'animals:donate' w.animal.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="wish_id" id="{{ w.id }}" value="{{ w.id }}">

                <label for="first_name">First Name:</label>
                <input type="text" name="donor_first_name" id="donor_first_name">

                <label for="last_name">Last Name:</label>
                <input type="text" name="donor_last_name" id="donor_last_name">

                <label for="email">Email:</label>
                <input type="email" name="donor_email" id="donor_email">  

                <input type="submit" value="Donate">
            </form> 
        {% endfor %}
    </ul>
{% endblock %}